body {
    background-color: lightblue;
}

main {
    text-align: center;
}

#sketchpad {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cell {
    margin: 0;
    padding: 0;
    background-color: white;
}